
错过机会或者赔钱了都无所谓，千万别沉浸在上一次失利的情绪中，不然上次失利的情绪会影响你接下去的投资做出错误的判断，越亏越大或者蹑手蹑脚；赔了汲取教训后， 就忘记重新开始， 不要不停的回去愧疚和不甘心，往前看，接下来的机会仍然很多；

其实说来很简单，不要追涨不要杀跌，昨天睡觉前评论过得，对于已经暴涨了的，不要去追，反倒去找那些没涨起来或者下跌的。你现在看看价格，再看看这句话是不是对的。还是赚不到钱的，无非是两个原因，贪婪与恐惧

整个山寨币有一条非常简单的规律：谁哪天或者哪段时间跌的越狠越急速，就越买谁，丝毫不需要恐惧。
主流币则是越横越涨

简单说一下吧，到了第一支撑位置撑住了就可以抄，撑不住反弹不足(连5%都没有的这种)就不要抄，等待下一支撑位置，这样子８成保证不会抄在半山腰，

主流币拉涨拉不过亚洲，竞争币爆发的更是清一色是华人主导。
——这说明什么？竞争比要买华人币。 ^_^

涨是一个位置一个位置的涨，跌也是一个位置一个位置的跌。
——跌的时候不需要恐慌，要么支撑点抄一波断线，要么等反弹再出货。

关于短线抄底手法：开始反弹后会出现涨跌涨跌涨跌的现象，让你一会儿以为要涨一会儿一位要继续跌，让你心乱，这个时候基本不要看，基本上都会去靠近过去48小时最高点。

上涨时怕错过追涨，下跌时恐慌割肉，震荡时没耐心换车。
——勿追涨杀跌，保持耐心。

人性两大弱点，牛市太贪婪，熊市太恐慌；

我一直觉得牛市当中，小跌就是买入机会；熊市当中小跌不心动，大跌才是买入机会（别犹豫），而一旦反弹就要出货（别贪婪）；

一个市场总是80%的人在赔钱，剩下的20%再赚钱；而大庄总是赚钱的；所以聪明点；
——顺大势，逆小市。

不要冒大风险追逐小利。

股市里的分析，这些短时期内的分析多数不适用于币市；

市场从来都不会一直涨，也不会一直跌；

有的时候我们做投资不可以依靠个人喜好而做，得顺势而为；

利空出尽后，反弹过后价格基本都是在震荡；

所以价格走势大概率接下来会上涨，然后伴随着小幅回调去探底，毕竟每一次上涨都会有不少人兑现或者选择解套，这个时候价格就会回落，只要回落的点远高于过去48小时的最低点，那么回落完会继续上涨；

下跌才是最好的买入机会，上涨中的回调是第二次好的机会，总是在连续涨了几天之后才买入是最冒险的（除非可以站住给出的位置），假如你没忍住现在买入了，之后一回调就受不了卖出的是最差的交易方式；
——2017/09/28

建仓的方式最好仍然是分批次向下建仓，利润不会损失太多，风险会降很多；

调整一般都是两三天就会结束的

大家不要害怕震荡，很多时候震荡是因为缺乏一个上涨的机遇，长期的震荡往往会在后期形成一个突然性的暴涨。
所以追高不是不可以赚钱， 只是风险会成倍的增加。

什么叫稳住？——九月份
在整体趋势向下的行情里，能反弹到接近于前一天24小时甚至48小时的最高点的时候就差不多到头了，绝大多时候是超不过48小时的最高点的；
意思就是稳稳的超过，而不是迫近然后下跌——2017/09/23


==星球2
到位置后怎么抛接：下方第一个位置或者回落20%既可以，反正在目标位置之前保证币越来越多就好了。

我一般抄底的钱就放着做短线——资金分配

如果你成本也很低，我觉得没必要设置止损。但是追高的人，要么装死不然就一定得设置止损，你可以设置一个8%，10%。

挂单的小技巧，别挂整数，比如eth，挂771而不挂770，挂751而不挂750，勿挂769和749

不要一看到下跌就熊，一看到反弹就觉得要牛，这个圈子里10%左右的波动都可以忽略不计


BTC，龙头，以它为准
BCH，未经考验，波动大，短线
ETH，目标不是ICO，但是受ICO影响最大
ETC，横盘，长期
LTC，抗跌
DASH，抗跌，稳步
XRP，绯闻
